before_install:
- sudo apt-get update -qq
- sudo apt-get install -y pandoc
- sudo apt-get install -y texlive-full
- sudo apt-get install -y texlive-xetex
- chmod u+x ./travis/build.sh
- chmod u+x ./travis/publish.sh

script: "./travis/build.sh"

after_success:
- "./travis/publish.sh"

env:
  global:
  # do: travis encrypt GH_OAUTH_TOKEN=<githubtoken> --add
  - secure: "VxmxB8zMfX+ZSJfvzSef9OaSkq2IjrzMJvjSSHu6ZMOwHXhWJ/XKT/ItHY0sCSDWD9cM/yQAA0dgQu9+zH6b0fQxHvjy5/LFKpYvhztulVUqK0MkxZZILmTyZJDrUwtxnlExEwUsgQB0NRl+9klcR16YxA8aGFZIheF7psfG68GOhl9pM4wXhHY7tOjmt2woeS0KxXKCEHihx3ZQSMDeQMHe8r3rONjicd3Yl2CgKAA+Eg/9tjRjz+g8HqtGwKk1dFjL6369MZWhMt2KaisVb582dgYw5ZkVulovr97KItlZhFg0WxjeeJ14DZyOQhBFD1z/otkYNx1zuoD1aaNMkxgkeLWd1TrSQWk7z+Ai9OYu6iwCjBuWDJp4UFzgDRZpQnz7mqYHpUfeiC9gWmH0IWm1ByNOwLM0/lqoyi7I4/ZH3H8g3OoPcQJ03oDCOZElZiIwVTsAQwOPPrmyqj0wIPbpWMCk8kJDcUTmbALhCtriOsCgWyOKUHC5i1sFzXs5w0F7/yyRThmFSdc/jz+XyvqvbNXCWuOUcFTgYHtvm+WKljt9eqd6LcyX2gqz3jXqNds8zxHX7FUV7aWiIcUpH2thYjmfgBZBf7M5HzEx6EhBzVOQDjZZiktqWjxJaOpvIEpzEBJp/yg1wJh8FEy/EI7/poAQF5LEa940XJI5qZo="
  - GH_USER_NAME: Archetipo95
  - GH_PROJECT_NAME: pandoc-travis-setup
  - GIT_AUTHOR_NAME: Travis
  - GIT_AUTHOR_EMAIL: noreply@travis-ci.org
  - RESULT_PDF_PATH=$TRAVIS_BUILD_DIR/thesis.pdf
  - TZ="Europe/Zurich"
