before_install:
- sudo apt-get update -qq
- sudo apt-get install -y pandoc
- sudo apt-get install -y texlive-full
- sudo apt-get install -y texlive-xetex
- chmod u+x ./travis/build.sh
- chmod u+x ./travis/publish.sh

script: "./travis/build.sh"

after_success:
- "./travis/publish.sh"

env:
  global:
  # do: travis encrypt GH_OAUTH_TOKEN=<githubtoken> --add
  - secure: "WBPY3Iml6cXDLfs3Fu5du3Q83riP4QOgZm+LgWNeaJUcp7TqvTV1PDHZDAi6dV47TSrhSA6bjipeCp+of1WNEFhnLvGg7ZmqJsgoDTD2u61eT18mTwhzo5ytR17yuCUXiIxpZifW0mwDeQw/Xsms+6aH/dJPhrG6lLr+cWBuTlVXKDI8XXg3R1IUj1IQ8PWDkGptpMjIBs/hq52q380EC2IBRrTbGsx1bRnMAjkj/YV/4i6uSzNX0yLv1nCO9BRtsHNfvzBke2yP5LsBQ8n6qzw9f4O4Eb505Ejssrpm1ovWiKK8IwYiVWAqGe5QdaYaK4gFrivdKyhC4hx69GE/OFy9ysBu1ukpWh7mEsivQ/O/6mMsLGcOfLBmWhcdS2JIOg2U30Yih2n5N8OlATZ4PqZmtk2MHug+8M2XWcVw2iRK4cmgHfYSjGGNlKSIy1fCBzCfYbXe6zwv1wrm7kN8TLKWmHkQqx0TMaxJwGCL0/IfaHhVwSGjBAyi4FfK00S+PGRo+0tN1FX9rwBEnS1C4g//cVfoCryYort8eqpKpO8TCqWl8MrP+OVl2DC79CiRuN1H45uvAno+IRiNwSLKNYJHKmmsJA7reCxMzpHiqCd4Y9Obs5kvURZhlZg41S0KW42oWtHX/tKIHIBXtasHZ6m06fhgYBLxwTGgrOMIK50="
  - GH_USER_NAME: Archetipo95
  - GH_PROJECT_NAME: pandoc-travis-setup
  - GIT_AUTHOR_NAME: Travis
  - GIT_AUTHOR_EMAIL: noreply@travis-ci.org
  - RESULT_PDF_PATH=$TRAVIS_BUILD_DIR/thesis.pdf
  - TZ="Europe/Zurich"
